@font-face {
  font-family: 'SanFran';
  src: url("../fonts/SanFrancisco.ttf");
}

body {
  font-family: 'SanFran';
  background-color: #eee;
}

.page-wrapper {
  align-items: center;
}

.container,
.row {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.row.inputs {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.container,
.row.backgrounds,
.background-block {
  display: flex;
}

.background-block {
  padding: 0;
  font-size: 0;
  color: transparent;
}

input {
  font-size: 8vw;
  padding: 0 35px 0 40px;
  width: 22vw;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  margin: 1vw;
  text-align: right;
  z-index: 9;
}
